@import "../../App.scss";

.stories{

    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 200px;
    margin-bottom: 20px;

    @include mobile {
     height:75px;
    }

    @include tablet {
        height: 150px;
    }
    

    .story{
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        @include mobile {
         flex: none;
         width: 75px;
         height: 75px;
         border-radius: 50%;
        }
        

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        span{
            font-size: 15px;
            position:absolute;
            bottom: 10px;
            left: 10px;
            font-weight: 500;
            color: white ;

            @include mobile {
                display: none;
            }
        }
        button{
            position: absolute;
            left: 0;
            top: 75%;
            cursor: pointer;
            border-radius: 50%;
            background-color: #5271ff;
            border: none;
            color: white;
            width: 30px;
            height: 30px;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    
}