@import "../../App.scss";
.container{
    @include themify($themes){
        display: flex;
        flex-direction: column;
        
        
        
        .write{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            gap: 20px;


            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                align-self: flex-start;
            }
            input{
                flex: 5;
                width: 100%;
                border: 1px solid themed('border');
                padding: 10px;
                background-color: transparent;
                border-radius: 7px;
                color: themed('textColor')
            };
            button{
                border: none;
                border-radius: 10px;
                background-color: #5271ff;
                cursor: pointer;
                padding: 10px;
                color: white
            }
        }
        
        
        .comment{
            margin: 30px 0px;
            display: flex;       
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                align-self: flex-start;
            }
            
            .text{
                flex: 5;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                p{
                    margin: 0px;
                    font-weight: 500;
                }
                span{
                    color: themed('textColorSoft')
                }
            }

            small{
                font-weight: 100;
                align-self: center;
                flex: 1;
                color: gray;
                font-size: 12px;
            }

        }
    }
}