@import "../../App.scss";

    .rightbar{
    @include themify ($themes) {

        flex:3;
        position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed('bgSoft');

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }
    
    
    &::-webkit-scrollbar{
        display: none;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        .menu{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 16px;
            border-radius: 6px;
            box-shadow: 2px 4px 6px 1px themed("bgSoft");
            background-color: themed('bg');

            span{
                color: themed("textColor");
            }

            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                position: relative;
                
                .left{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    .online{
                        width: 7px;
                        height: 7px;
                        background-color: limegreen;
                        border-radius: 50%;
                        position: absolute;
                        left: 25px;
                        top:0px
                    }
                    span{
                        font-size: 15px;
                        font-weight: 500;
                        color: thmed('textColor');
                    }
                    small{
                        color: themed('textColorSoft');
                        font-size: 12px;
                    }
                }
                .right{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    color: themed('textColorSoft');
                    font-size: 12px;
                    .follow{
                        border: none;
                        background-color: lightgreen;
                        color: white;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                    .dismiss{
                        border: none;
                        background-color: lightcoral;
                        color: white;
                        cursor: pointer;
                        border-radius: 5px;
                        
                    }

                    small{
                        color: themed('textColorSoft');
                        font-size: 45px;
                    }

                }
            }
        }
    }

}
} 